<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>table,
      td,
      th {
        width: 500px;
        border: 1px solid ;
        margin-top: 10px;
      }
      </style>
<title>衣類検索</title>
</head>
<body>
<h2>衣類検索</h2>

<form th:action="@{/clothe/search}" method="POST">

		<input type="radio" name="gender" value="0" checked>Man<br>
		<input type="radio" name="gender" value="1">woman
		  <select name="color">
       	 	<option value="赤">赤</option>
        	<option value="青">青</option>
        	<option value="白">白</option>
        	<option value="黄">黄</option></select><br>

	<button>検索</button>
</form>


  <table th:each="clothe : ${clotheList}">
          <tr>
            <th>ジャンル</th>
            <td th:text="${clothe.genre}"></td>
          </tr>
          <tr>
            <th>サイズ</th>
            <td th:text="${clothe.size}"></td>
          </tr>
          <tr>
            <th>価格</th>
            <td th:text="${clothe.price}"></td>
          </tr>
        </table>

	
</body>
</html>