<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>table,
      td,
      th {
        width: 500px;
        border: 1px solid ;
        margin-top: 10px;
      }
      </style>
<title>ホテル検索</title>
</head>
<body>
<h2>ホテル検索</h2>

<form th:action="@{/hotel/search}" method="POST">
 <p th:if="${numberFormatError}" th:text="${numberFormatError}" style="color:red"></p>
	<input type="text" name="price">円以下<br>
	<button>検索</button>
</form>


<table th:each="hotel: ${hotelList}">
		 <tr>
          <th>ホテル名</th>
          <td th:text="${hotel.hotelName}"align="center"></td>
        </tr>
        <tr>
          <th>最寄駅</th>
          <td th:text="${hotel.nearestStation}" align="center"></td>
        </tr>
        <tr>
          <th>価格</th>
          <td th:text="${hotel.price}" align="center"></td>
        </tr>
				
	</table>
	
</body>
</html>